.pagination-container {
display: flex;
justify-content: center;
gap: .5rem;
margin-top:  1rem;
}

.pagination-button {
padding: .5rem 1rem;
border: 1px solid #ccc;
border-radius: 5px;
cursor: pointer;
}