.main-about-us {

    display: flex;
    flex: 1;
    gap: 10px;
    background-color: rgba(211, 196, 160, 0.507);
    margin-top: 30px;
    padding: 30px;
    width: 70%;
    border-radius: 4px;
    margin-left: 50%;
    translate: -50%;
    margin-bottom: 30px;
    align-items: center;


    .info-proyecto {
        background-color: rgba(49, 39, 15, 0.767);
        color: rgb(221, 221, 221);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-top: 30px;
        border-radius: 20px;
        font-family: monospace;


        h2 {
            margin-top: 20px;
            font-weight: bold;
            font-size: 20px;
        }

        p {
            margin-top: 20px;
            line-height: 1.3;
            font-size: 16px;
        }

        .logo-proyecto {
            text-align: center;
            margin-top: 32px;
        }

    }



    
    .integrantes-proyecto {
        background-color: rgba(49, 39, 15, 0.767);
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        padding: 20px;
        margin-top: 30px;
        border-radius: 20px;
        color: rgb(221, 221, 221);
        font-family: monospace;

        img {
            width: 260px;
            height: 260px;
            object-fit: cover;
            padding: 10px;
        }

        .integrantes-info{
            text-align: center;
    
            h2 {
                font-weight: bold;
                font-size: 20px;
                }
        
                p {
                margin-top: 10px;
                font-size: 16px;
                }
        }

        
    }
}

@media screen and (width<768px) {


    .main-about-us {
        flex-direction: column;

        .info-proyecto {
            align-items: center;
        }

        .integrantes-proyecto {
            flex-direction: column;
            width: 100%;
            margin-top: 5%;

            img {
                width: 90%;
                padding: 0;
            }

            .integrantes-info{
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}