.loader-product-detail {
    display: flex;
    color: rgba(6, 5, 4, 0.629);
    justify-content: center;
    align-items: center;
}

.main-detail-product {
    height: 100%;
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 6px;
    margin: 40px;
    padding: 20px;
    width: 70%;
    margin-left: 50%;
    translate: -50%;
    align-items: center;

    .image-detail {
        width: 100%;
        height: 100%;
        margin-left: 10%;

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 30px;
        }
    }


    .container-info {
        width: 100%;
        height: 400px;
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        border: 0.1px solid rgba(177, 167, 160, 0.589);
        margin-right: 10%; 

        .nameproduct {

            h3 {
                font-size: 1rem;
                font-style: italic;
                color: rgba(64, 37, 25, 0.884);
                font-weight: 500;
                margin-bottom: 6px;
            }
    
            h1 {
                font-size: 2.25rem;
                color: rgba(64, 37, 25, 0.884);
                margin-bottom: 10px;
            }
        }
    
        .reseña {
            display: flex;
            flex-direction: row;
            font-style: italic;
            gap: 6px;
            color: rgb(239, 239, 12);
            font-size: 12px;
    
            h4 {
                color: rgba(59, 57, 57, 0.795);
            }
        }
    
        .detail-price {
            h3 {
                color: crimson;
                margin-top: 15px;
                font-size: 1.75rem;
                font-weight: bold;
                margin-bottom: 15px;
            }
    
            p {
                color: rgba(64, 37, 25, 0.884);
                margin-bottom: 20px;
                font-size: 16px;
                font-style: italic;
                padding-bottom: 15px;
                border-bottom: .25px solid rgba(65, 59, 56, 0.59);
            }
        }
    
        .detail-btn {
            padding: 8px;
            display: flex;
            gap: 30px;
            justify-content: center;
            align-items: center;
    
            .cupon {
                gap: 2px;
                display: flex;
                flex-direction: column;
                font-size: 12px;
    
                input {
                    border: 0.2px solid rgba(0, 0, 0, 0.7);
                    outline: none;
                    border-radius: 3px;
                    text-align: center;
                    width: 100%;
                    height: 100%; 
                    padding: 5px;
                }
            }
    
            .product-button {
                text-decoration: none;
                margin-top: 18px;
                width: 60%;
                gap: 1rem;
                color: white;
                background-color: rgba(59, 55, 48, 0.899);
                border-radius: 4px;
                border: none;
                padding: 10px 12px;
                font-size: 14px;
                transition: 0.3s;
                cursor: pointer;
    
                &:hover {
                    background-color: rgba(40, 25, 2, 0.905);
                }
    
            }
    
        }
    }

}



@media screen and (width < 768px) {
    .main-detail-product {
        flex-direction: column;
        .image-detail {
        margin: 5px;
        img {
            width: 100%;
            height: 100%;
        } 
        }
        .container-info {
        margin-right: 5%; 
        }
    }
} 
