.main-registro {
    margin-bottom: 40px;
    flex-grow: 1;
    margin-top: 30px;
    width: 100%;

    .form-registro {
        background-color:rgba(211, 196, 160, 0.507);
        align-items: center;
        width: min(800px, 100%);
        margin: auto;
        padding: 2rem;
        border-radius: 12px;
        border: 1px solid rgba(68, 51, 12, 0.473);
    }
}