* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(221, 216, 200);
}

.main-header {
  background-color: rgba(146, 115, 75, 0.719);
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(131, 93, 12);

  .input-responsive {
    display: none;
  }

  .responsive-menu {
    color: white;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 14px;
    display: none;
  }

  .logonav-header {
    display: flex;
  }

  .main-logo {
    color: rgb(109, 78, 41);
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    place-content: center; 
    
  }

  .nav-list {
    list-style: none;
    display: flex;
    height: 100%;

    .nav-item {
      display: flex;

      .nav-link {
        color: white;
        padding: 1.5rem;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        display: flex;
        align-items: center;
        transition: 0.3s;
        font-weight: bold;

        &:hover {
          background-color: rgba(116, 95, 51, 0.884);
        }
      }
    }
  }

  .user-header {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0 1rem;
    color: white;
    font-style: italic;
    font-size: 12px;

    .user-order {
      font-size: 1.2rem;
      color: white;
      transition: color 0.2s ease-in-out;
      margin-top: 5px;
      position: relative;
      cursor: pointer;

      &:hover {
        color: #6d66668a;
      }

      .user-order-count {
        background-color: rgba(41, 36, 38, 0.916);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        width: 16px;
        height: 16px;
        position: absolute;
        left: -10px;
        top: -10px;
        border-radius: 50%;
      }
    }

    .user-image {
      display: flex;
      align-items: center;
      border-radius: 50%;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.main-title {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 6px;
  margin-left: 50%;
  translate: -50%;
  color: rgb(109, 66, 18);
  border: 1px solid rgba(68, 51, 12, 0.473);
  background-color: rgba(236, 236, 218, 0.753);
  font-weight: bold;
  padding: 1rem;
  margin-top: 30px;
  font-family: monospace;
}

.admin-container {
  padding: 2rem;
  display: flex;
  gap: 50px;

  .form-container {
    flex: 0.5 0 350px;
    background-color: rgba(146, 111, 65, 0.405);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(84, 63, 36, 0.405);
    height: 100%;
    margin-top: 20px;
  }

  .table-container {
    margin: 20px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.btn {
  &:disabled {
    background-color: #333;
    color: #666;
    pointer-events: none;
  }
}

.item-registro {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;

  .input-error {
    color: rgba(105, 12, 31, 0.664);
    font-size: 0.8rem;
    margin: 15px;
  }

  label {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(63, 40, 13);
  }

  input,
  select,
  textarea {
    padding: 8px;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    justify-content: center;
    border: none;

    &:focus {
      background-color: rgba(61, 39, 3, 0.11);
    }
  }
}

.table-products {
  border-collapse: collapse;

  th {
      background-color: rgba(146, 111, 65, 0.849);
      color: white;
      font-weight: bold;
  }

  td, 
  th
  {
      border: 2px solid rgb(68, 43, 13);
      padding: 2px 12px;
  }

      tr:nth-child(odd) {
          background-color: rgba(214, 203, 177, 0.733);
      }
  
} 

.admin-table-row {

  .image {
      img {
          height: 80px;
          width: 80px;
          padding: 6px;
          border-radius: 50%;
          align-items: center;
          margin-left: 50%;
          translate: -50%;
          object-fit: cover;
      }
  }

  .name,
  .price,
  .category {
      text-align: center;
      color: rgb(53, 33, 9);
      font-size: 1rem;
      font-weight: bold;
  }

  .description,
  .mail {
      color: rgb(91, 57, 16);
      font-style: italic;
  }

  .date, 
  .birthday,
  .role {
      font-size: 16px;
      color: #58341bd5;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
  }

  .actions {
      .actions-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 5px;
          gap: 8px;

              .button-edit {
                  width: 30px;
                  height: 30px;
                  background-color: rgba(67, 35, 6, 0.849);
                  border: none;
                  border-radius: 6px;
                  cursor: pointer;
                  transition: 0.3s;

                  &:hover {
                      background-color: rgba(33, 17, 2, 0.849);
                  }

                  .edit {
                      text-align: center;
                      color: white;
                      font-size: 1rem;
                  }
              }

              .button-delete {
                  width: 30px;
                  height: 30px;
                  background-color: red;
                  border: none;
                  border-radius: 6px;
                  cursor: pointer;
                  transition: 0.3s;

                  &:hover {
                      background-color:rgb(145, 13, 13);
                  }

                  .delete {
                      text-align: center;
                      color: white;
                      font-size: 1rem;
                  }
              }
          }

      }
  }

.btn {
  cursor: pointer;
  background-color: rgb(78, 49, 16);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  transition: 0.2s;
  border-radius: 10px;
  margin-left: 50%;
  margin-top: 20px;
  translate: -50%;
  height: 50px;
  width: 30%;
  text-align: center;
  border: none;

  &:hover {
    background-color: rgb(27, 16, 3);
  }
}

.main-footer {
  display: flex;
  flex: 1 1 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  width: 100%;
  bottom: 0;
  background-color: rgba(146, 115, 75, 0.884);
  border-top: 1px solid rgb(102, 72, 7);

  .footer-redes {
    color: white;
    padding: 0.5rem;
    font-size: 14px;

    .listredes-footer {
      list-style: none;
      padding-top: 5px;

      .item-redes-footer {
        padding: 2px;

        .icon {
          color: white;
          font-size: 10px;
          align-items: center;
          margin-right: 0.25rem;
        }

        a {
          color: white;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
  }

  .footer-logo {
    padding: 0.5rem;
    align-items: center;

    h3 {
      color: rgb(77, 47, 12);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 12px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .img-logo {
      color: rgb(80, 55, 26);
      align-items: center;
      font-size: 25px;
      padding: 4px;
      padding-top: 10px;
      text-align: center;
    }
  }

  .footer-info {
    padding: 0.5rem;
    color: white;
    font-size: 14px;

    .listinfo-footer {
      padding: 2px;
      list-style: none;

      .item-info-footer {
        padding: 2px;
      }
    }
  }
}

@media screen and (width <768px) {
  .main-header {
    .responsive-menu {
      display: flex;
    }

    .main-logo {
     margin-left: 100%;
    }

    .main-nav {
      position: fixed;
      left: -200px;
      height: 100vh;
      top: 48px;
      z-index: 1;
      width: 200px;
      background-color: rgba(146, 115, 75, 0.76);
      transition: all 0.3s;

      .nav-list {
        flex-direction: column;

        .nav-item {
          display: block;
          border-top: 1px solid rgba(68, 51, 12, 0.473);
        }
      }
    }

    .input-responsive:checked ~ .logonav-header .main-nav {
      left: 0;
    }

    .user-info {
      .user-name {
        display: none;
      }
    }
  }

  .main-title {
    min-width: 75%;
  }

  .main-footer {
    display: flex;
    flex-direction: column;

    .listredes-footer {
      margin-left: 10px;
      padding-bottom: 10px;
    }

    .footer-info {
      margin-left: 20px;
      padding-top: 10px;
    }
  }

  .admin-container {
    flex-direction: column;
}
}
